In [189]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
data = pd.read_csv('titanic.csv', index_col='PassengerId')

    Загрузите выборку из файла titanic.csv с помощью пакета Pandas.

    Оставьте в выборке четыре признака: класс пассажира (Pclass), цену билета (Fare), возраст пассажира (Age) и его пол (Sex).

    Обратите внимание, что признак Sex имеет строковые значения.

    Выделите целевую переменную — она записана в столбце Survived.

    В данных есть пропущенные значения — например, для некоторых пассажиров неизвестен их возраст. Такие записи при чтении их в pandas принимают значение nan. Найдите все объекты, у которых есть пропущенные признаки, и удалите их из выборки. 

    Обучите решающее дерево с параметром random_state=241 и остальными параметрами по умолчанию (речь идет о параметрах конструктора DecisionTreeСlassifier).

    Вычислите важности признаков и найдите два признака с наибольшей важностью. Их названия будут ответами для данной задачи (в качестве ответа укажите названия признаков через запятую или пробел, порядок не важен).

In [ ]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
X = np.array([[1, 2], [3, 4], [5, 6]])
y = np.array([0, 1, 0])
clf = DecisionTreeClassifier()
clf.fit(X, y)
#В этом задании вам также потребуется находить важность признаков. 
#Это можно сделать, имея уже обученный классификатор:
importances = clf.feature_importances_
# Стоит обратить внимание, что данные могут содержать пропуски. Pandas хранит такие значения как nan (not a number). 
# Для того, чтобы проверить, является ли число nan'ом, можно воспользоваться функцией np.isnan.
np.isnan(X)

In [213]:
df = data[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']].copy()
df = df.dropna()
df[df['Age'].isnull()]
data[data['Age'].isnull()]
df.shape
#df
#df.describe()
df['Sex'] = df['Sex'].apply(lambda x: 1 if x == "male" else 0)
df.describe()

           Pclass        Fare         Age         Sex    Survived
count  714.000000  714.000000  714.000000  714.000000  714.000000
mean     2.236695   34.694514   29.699118    0.634454    0.406162
std      0.838250   52.918930   14.526497    0.481921    0.491460
min      1.000000    0.000000    0.420000    0.000000    0.000000
25%      1.000000    8.050000   20.125000    0.000000    0.000000
50%      2.000000   15.741700   28.000000    1.000000    0.000000
75%      3.000000   33.375000   38.000000    1.000000    1.000000
max      3.000000  512.329200   80.000000    1.000000    1.000000

In [214]:
X = np.array(df[['Pclass', 'Fare', 'Age', 'Sex']])
y = np.array(df['Survived'])
X

array([[ 3.    ,  7.25  , 22.    ,  1.    ],
       [ 1.    , 71.2833, 38.    ,  0.    ],
       [ 3.    ,  7.925 , 26.    ,  0.    ],
       ...,
       [ 1.    , 30.    , 19.    ,  0.    ],
       [ 1.    , 30.    , 26.    ,  1.    ],
       [ 3.    ,  7.75  , 32.    ,  1.    ]])

In [215]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)
importances = clf.feature_importances_

In [216]:
feature_names = ['Pclass', 'Fare', 'Age', 'Sex']
forest_importances = pd.Series(importances, index=feature_names)
forest_importances

Pclass    0.140005
Fare      0.303436
Age       0.256046
Sex       0.300512
dtype: float64

In [220]:
#Ximp = pd.DataFrame([importances, ['Pclass', 'Fare', 'Age', 'Sex']]).T
#Xsort = Ximp.sort_values(by=[0], ascending=False)

Ximp = np.array([importances, ['Pclass', 'Fare', 'Age', 'Sex']])
print(Ximp)
print('-'*20)
Xsort = Ximp[:, Ximp[0, :].argsort()][1, ::-1]
print(Xsort)

[['0.1400052185312419' '0.3034364695314525' '0.2560461009790662'
  '0.30051221095823943']
 ['Pclass' 'Fare' 'Age' 'Sex']]
--------------------
['Fare' 'Sex' 'Age' 'Pclass']

In [221]:
answer = f'%s %s' % (Xsort[0], Xsort[1])
print(answer)
with open('lab2.txt', 'w') as outfile:
    outfile.write(answer)

Fare Sex